body {
    background-color: #8ec63f;
    font-family: 'Montserrat Alternates', sans-serif;
}

.social {
    max-height: 35px;
    text-align: end;
    top: 0;
    background-color: #8ec63f;
}

.jumbotron {
    border-top: solid 2px rgba(0, 0, 0, 0.171);
    background-image: url("/images/sindy-sussengut-QH4rUktxEIc-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

div.container .card>img {
    object-fit: cover;
    max-width: 100%;
}