:root {
    --primary: #abcf37;
    --primaryII: #346902d3;
    --secondary: #5a37cf;
    --secondaryII: #1e0670;
    --terziary: #37accf;
}

.white {
    color: white;
}

.lightGreen {
    background-color: #abcf37;
}

.lightwhite {
    padding-top: 2%;
    padding-bottom: 2%;
}

.divisore {
    color: var(--secondary);
}

.top-carousel {
    max-height: 360px;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
body {
    background-color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 125px;
    font-weight: 600;
    line-height: 65px;
    color: var(--primary);
}

h2 {
    color: var(--primaryII);
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 36px;
    font-weight: 600;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn a.btn {
    background-color: var(--primaryII);
    padding: 10px 20px;
}

a.btn {
    background-color: var(--primaryII);
    padding: 10px 20px;
}

a.bnt:hover {
    background-color: var(--secondary);
}

.gradient {
    background: rgb(171, 207, 55);
    background: linear-gradient(325deg, rgba(171, 207, 55, 1) 0%, rgba(90, 55, 207, 1) 78%);
}

.bordedL {
    border-left: 5px solid #5a37cf;
    padding-left: 15px;
    padding-top: 20%;
}

.borderT {
    border: 5px solid;
    border-color: var(--terziary);
}

.social {
    max-height: 35px;
    text-align: end;
    top: 0;
    background-color: #8ec63f;
    padding-right: 15px;
}

.jumbotron {
    background: linear-gradient(to top, #3204fdba, #9907facc), url("images/engGroup.jpg");
    position: relative;
    height: 100vh;
    border-top: solid 2px rgba(0, 0, 0, 0.171);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3#subTitleJumbotron {
    font-size: 30px;
    animation: fadein 2s;
}

h4#titleBlockJumbotron {
    font-size: 30px;
    margin-bottom: 1.5rem;
    animation: fadein 2s;
    transition: 0.3s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes trasform {
    from {}
}

div.borderT {
    background-color: #1f06705e;
    padding-left: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 2.5rem;
}

div.borderT> {
    border: solid 2px red;
    list-style: none;
}

.jumbotron::before {
    content: '';
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 75%);
}

.jumbo-description {
    line-height: 1.8rem;
}

div.container .card>img {
    object-fit: cover;
    max-width: 100%;
    margin-right: 10px;
}


/* Icons */

ul li i {
    font-size: 20px;
    color: red;
    margin-right: 10px;
}

ul li i.bi-arrow-up-circle-fill {
    font-size: 20px;
    color: var(--primaryII)
}

footer {
    padding-left: 20px;
}

footer i {
    color: white;
    min-height: 200px;
}

.svg {
    font-size: 50px;
    border: solid red 2px;
}

.cellula {
    background-image: url("./images/cellula.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 60%;
}

.dot {
    height: 160px;
    width: 160px;
    background-color: var(--primaryII);
    border-radius: 50%;
    display: inline-block;
}

@media (max-width:576px) {
    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 45px;
        color: var(--primary);
    }
    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        line-height: 38px;
        font-weight: 700;
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }
    h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
    h5 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 36px;
        font-weight: 600;
    }
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    .jumbotron {
        height: 600px;
        max-height: 800px;
        text-align: center;
    }
    .jumbo-description {
        line-height: 1.2rem;
    }
}


/* counter */

.counter-container {
    background-color: rgb(47, 7, 100);
    /* background-image: linear-gradient(rgba(49, 0, 255, 0.8), rgba(132, 5, 29, 0.8), url(./images/prato.jpg)); */
    background-size: cover;
    background-position: center;
}

.counter-section {
    color: rgb(199, 91, 4);
}

span.material-icons {
    font-size: 50px;
    height: 80px;
    width: 100px;
    margin: 20px auto;
}

.counter-info {
    font-size: 28px;
}

.counter-info-big {
    font-size: 40px;
}